$font-family-main: 'IBM Plex Sans', sans-serif;
$font-family-titles: 'IBM Plex Serif', serif;
$font-family-button: 'Fira Sans', sans-serif;

$text-color-main: #202124;
$text-color-light: #3b3b3f;
$text-color-lighten: #5b5b5f;
$white: #ffffff;
$light-gray: #f4f4f4;
$gray: #f0f0f0;
$yellow: #fbf9e0;

$primary: #813bff;
$primary-light: #9b79ff;
$primary-lighten: #b9a7ff;

$mobile-width: 640px;
$landscape-width: 1080px;
